<nav id="block-menu-menu-footer" role="navigation" class="block block--menu block--menu-menu-footer">
	<ul class="menu">
		<li><a href="{{ url }}">Connect</a></li>
		<li><a href="{{ url }}">FAQs</a></li>
		<li><a href="{{ url }}">E-New</a></li>
		<li><a href="{{ url }}">Employment</a></li>
		<li><a href="{{ url }}">Site Map</a></li>
		<li><a href="{{ url }}">Administration</a></li>
		<li><a href="{{ url }}">Governance</a></li>
		<li><a href="{{ url }}">Policies & Reports</a></li>
		<li><a href="{{ url }}">Accessibility</a></li>
		<li><a href="{{ url }}">Supplier Dieversity & EEO</a></li>
		<li><a href="{{ url }}">Privacy</a></li>
		<li><a href="{{ url }}">Records Request</a></li>
		<li><a href="{{ url }}">Inspector General</a></li>
		<li><a href="{{ url }}">General Counsel</a></li>
	</ul>
</nav>